/* ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit--scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */
* {
    margin: 0;
    box-sizing: border-box
}



body {
    background: white;
    color: #222;
    cursor: auto;
    font-weight: normal;
    font-style: normal;
    /*adding scroller on the page*/
    overflow-y: scroll;
}

.header-file{
    width: 100%;
    height: 80px;
    background-color: rgb(252, 137, 6);
}

/*The sidebar menu bar*/
.sidebar {
    width: 0;       /*0 width - change this width with Javascript */
    position: fixed;    /*Stay in place*/
    z-index: 1;         /*Stay on top*/
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;     /*Disable horizontal scroll*/
    transition: 0.5s;       /*0.5s transition effect to slide in the sidebar*/
    padding-top: 60px;      /*Place content 60px  from the top*/
}

/*The sidebar links*/
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*When you mouse over the navigation links, change their color*/
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style theclose button(top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    vertical-align: middle;
    float: left;
    margin: 25px 20px;
    font-size: 30px;
    background-color: rgb(252, 137, 6);
    border:rgb(252, 137, 6);
    border: none;   
}

.openbtn:hover {
    background-color: #444;
    border: none;
}

/* Style the page content - use this if you want to push the page content to the right when you open the slide navigation */
/* #main {
    transition: margin-left .5s;
    /* padding: 20px; */
/*}*/

/* logo */
#header img{
    vertical-align: middle;
    width: 200px;
    height: 90px;
    float: left;            /*aligns the logo element to the left*/
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 25px;
}


/*On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)*/
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/*search */
#searchform {
    padding-left: 250px;
    margin-top: 0px;
  
}

/* search text box */
#desigramsearch {
    font-weight: normal;
    color:rgb(34, 32, 32);
    font-size: 13px;
    width: 500px;
    display: inline-block;
    margin: 0;
    height: 35px;
    vertical-align: middle;
    border: 2px solid black;
    margin-top: 2px;
    border-radius: 5px;    
    
}
/* search button */
button#searchbtn {
    height: 32px;
    margin-left: 8px;
    border: 2px solid #000;
    background-color: white;
    margin-top: 5px;
    border-radius: 12%;
}

/*Login button*/
#loginbtn {
    height: 32px;
    margin-left: 8px;
    background-color: white;
    color: black;
    border: 2px black solid;
    border-radius: 12%;
    margin-left: 350px;
    width: 70px;
    font-family: cursive;
    font-weight:bolder;
    text-transform: uppercase;
    
}

/*shopping cart button*/
#info-tools {
    float: right;
    border-radius: 5%;
    border: 2px solid #000;
    
    list-style-type: none;
    
}

ul.right-side {
    display: inline-block;
    list-style-type: none;     /*removes bullet*/
} 

button#cartbtn {
    height: 30px;
    width: 40px;
    font-size: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 12%;
    margin-left: -15px;
}

/*navigation bar*/
/* .navigation-bar {
    overflow: hidden;
    background-color: rgb(51, 167, 23);
    margin: 35px;   
} */

/*Links inside the nav bar*/
/* .navigation-bar a {
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    font-size: 16px;
    font-family: cursive;

} */

/*Hover effect on the links in the nav bar*/
/* .navigation-bar a:hover, .handlooms-dropdown button:hover, .garments-dropdown button:hover {
    background-color: rgb(252, 137, 6);
    color: white;
    border: solid white 2px;
} */

/*drop-down list for handloom*/
/* .handlooms-dropdown, .garments-dropdown {
    overflow: hidden;
    float: left;
} */

/*drop-down button */
/* .handlooms-dropdown .handloom-drop-btn, .garments-dropdown .garments-drop-btn {
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    background-color: inherit;
    font-family: cursive;
    margin: 0;
    border:rgb(51, 167, 23) solid 2px;
} */

/*Hover effect on drop down button*/
/* .handloom-drop-btn:hover, .garments-drop-btn:hover {
    background-color: rgb(252, 137, 6);
    color: white;
    border: solid white 2px;
} */

/*drop-down button looks*/
/* .handloom-dropdown-content, .garments-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

} */

/*Links inside the dropdown */
/* .handloom-dropdown-content a, .garments-dropdown-content a {
    float: none;
    color: black;
    padding: 11px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
} */

/*Adds a orange color to dropdown links on hover*/
/* .handloom-dropdown-content a:hover, .garments-dropdown-content a:hover {
    background-color: rgb(252, 137, 6);

} */

/*Shows the drop down menu on hover*/
/* .handlooms-dropdown:hover .handloom-dropdown-content, .garments-dropdown:hover .garments-dropdown-content {
    display: block;
} */

/*image slider*/
.slide-container {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 1000px;
    height: 600px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

/* .slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
} */

/* .button-container {
    top: -180px;
    position: relative;
    left: 30px;
} */
/* 
.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;
} */

/* #slider-image-1:target ~ .image-container {
    left: 0px;
}

#slider-image-2:target ~ .image-container {
    left: -800px;
}

#slider-image-3:target ~ .image-container {
    left: -1600px;
} */

/*product-card*/
.row1 {
    display: inline-block;
    flex-wrap: wrap;
    width: 33.3%;   
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      width: 100%;
      display: block;
    }
  }

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navigation-bar a {
      float: none;
      width: 100%;
    }
  }

.price {
    font-size: 22px;
    color: grey;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;

    
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover {
    opacity: 0.7;
}


/*Footer*/

.column {
    float: left;
    width: 24%;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: rgb(51, 167, 23);
    color: black;
    height: 60vh;
    
}


.footer-widget {
    /* background-color: rgb(252, 137, 6); */
    margin: 0 10px;
    text-align: justify;
}

.widget-title {
    color: #000;
    margin-bottom: 30px;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 20px;
    margin-left: 4px;

}

.about-widget p {
    line-height: 20px;
    margin: 10px 0 30px 0;
    width: 260px;
    font-family: cursive;

}

.cards i{
    display: inline-block;
    font-size: 30px;
    margin-right: 12px;    
}

.cards i:hover {
    color: rgb(54, 50, 50);
}
.about-widget p span {
    margin-right: 10px;
}

.categories-widget, .quicklinks-widget {
    margin-left: 0px;
}

.footer-widget ul{
    margin-left: 4px;
}

.footer-widget ul li{
    padding-bottom: 14px;
}

.footer-widget ul li a{
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-family: cursive;
}

.footer-widget ul li a:hover{
    color: rgb(54, 50, 50);
    margin-left: 10px;
    transition: all .5s ease;

}

.contact-address {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    line-height: 20px;
    font-family: cursive;

}

.contact-number, .contact-mail {
    margin: 10px 0;  
    font-family: cursive;
}

.contact-address i, .contact-number i, .contact-email i {
    margin-right: 10px;
}

.social-widget a {
    display: inline-block;
    font-size: 28px;
    color: #000;
    margin-right: 10px;
}

.social-widget a:hover {
    color: rgb(54, 50, 50);
    transition: all .5s ease; 
}

.copyright {
    background-color: #000;
    padding: 10px;
}

.copyright p{
    color: #fff;
    text-align: center;
    font-family: cursive;
    margin-bottom: 0;
}
/* 
.copyright p a{
    text-decoration: none;
    color: #d2d2d2;
    margin-bottom: 0;
} */