/* ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit--scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */
* {
    margin: 0;
    box-sizing: border-box
}



body {
    background: white;
    color: #222;
    cursor: auto;
    font-weight: normal;
    font-style: normal;
    /*adding scroller on the page*/
    overflow-y: scroll;
    
}

.header-file{
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: 10px;
    

}
/* logo */
#header img{
    vertical-align: middle;
    width: 200px;
    height: auto; 
    float: left;            /*aligns the logo element to the right*/
    margin-left: 10px;
    
}

/*search */
#searchform {
    padding-left: 250px;
    margin-top: 0px;
  
}

/* search text box */
#desigramsearch {
    font-weight: normal;
    color:rgb(34, 32, 32);
    font-size: 13px;
    width: 350px;
    display: inline-block;
    margin: 0;
    height: 27px;
    vertical-align: middle;
    border: 2px solid black
    
    
}
/* search button */
button#searchbtn {
    height: 25px;
    margin-left: 8px;
    border: 1px solid rgb(153, 150, 150);
    background-color: rgb(247, 244, 244);
    border-radius: 5%;
}

/*shopping cart button*/
#info-tools {
    border-radius: 5%;
    border: 1px solid rgb(150, 147, 147);
    background-color: rgb(238, 231, 231);
    list-style-type: none;
    
}

ul.right-side {
    display: inline-block;
    margin-top: 0%;
    margin-left: 40%;
    list-style-type: none;     /*removes bullet*/

} 

button#cartbtn {
    height: 25px;
    margin-right: 10px;
    width: 100px;
}

/*navigation bar*/
.navigation-bar {
    overflow: hidden;
    background-color: rgb(51, 167, 23);
    margin: 10px 0;
    
}

/*Links inside the nav bar*/
.navigation-bar a {
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    font-size: 16px;
    font-family: cursive;

}

/*Hover effect on the links in the nav bar*/
.navigation-bar a:hover, .handlooms-dropdown button:hover, .garments-dropdown button:hover {
    background-color: rgb(252, 137, 6);
    color: white;
    border: solid white 2px;
}

/*drop-down list for handloom*/
.handlooms-dropdown, .garments-dropdown {
    overflow: hidden;
    float: left;
}

/*drop-down button */
.handlooms-dropdown .handloom-drop-btn, .garments-dropdown .garments-drop-btn {
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    background-color: inherit;
    font-family: cursive;
    margin: 0;
    border:rgb(51, 167, 23) solid 2px;
}

/*Hover effect on drop down button*/
.handloom-drop-btn:hover, .garments-drop-btn:hover {
    background-color: rgb(252, 137, 6);
    color: white;
    border: solid white 2px;
}

/*drop-down button looks*/
.handloom-dropdown-content, .garments-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/*Links inside the dropdown */
.handloom-dropdown-content a, .garments-dropdown-content a {
    float: none;
    color: black;
    padding: 11px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*Adds a orange color to dropdown links on hover*/
.handloom-dropdown-content a:hover, .garments-dropdown-content a:hover {
    background-color: rgb(252, 137, 6);

}

/*Shows the drop down menu on hover*/
.handlooms-dropdown:hover .handloom-dropdown-content, .garments-dropdown:hover .garments-dropdown-content {
    display: block;
}

/*image slider*/
.slide-container {
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 1000px;
    height: 600px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

/* .slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
} */

/* .button-container {
    top: -180px;
    position: relative;
    left: 30px;
} */
/* 
.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;
} */

/* #slider-image-1:target ~ .image-container {
    left: 0px;
}

#slider-image-2:target ~ .image-container {
    left: -800px;
}

#slider-image-3:target ~ .image-container {
    left: -1600px;
} */

/*product-card*/
.row1 {
    display: inline-block;
    flex-wrap: wrap;
    width: 33.3%;   
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      width: 100%;
      display: block;
    }
  }

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navigation-bar a {
      float: none;
      width: 100%;
    }
  }

.price {
    font-size: 22px;
    color: grey;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;

    
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover {
    opacity: 0.7;
}


/*Footer*/

.column {
    float: left;
    width: 24%;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #282828;
    color: #aba8a8;
    height: 55vh;
    
}


.footer-widget {
    /* background-color: rgb(252, 137, 6); */
    margin: 0 10px;
    text-align: justify;
}

.widget-title {
    color: #fff;
    margin-bottom: 30px;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 5px;

}

.about-widget p {
    line-height: 20px;
    margin: 10px 0 30px 0;
    width: 260px;

}

.cards i{
    display: inline-block;
    font-size: 30px;
    margin-right: 12px;    
}

.cards i:hover {
    color: #fff;
}
.about-widget p span {
    margin-right: 10px;
}

.categories-widget, .information-widget {
    margin-left: 20px;
}

.footer-widget ul{
    margin-left: 20px;
}

.footer-widget ul li{
    padding-bottom: 14px;
}

.footer-widget ul li a{
    color: #aba8a8;
    text-decoration: none;
    list-style-type: none;
}

.footer-widget ul li a:hover{
    color: #d2d2d2;
    margin-left: 10px;
    transition: all .5s ease;

}

.contact-address {
    padding-bottom: 20px;
    border-bottom: 1px solid #9a98988c;
    line-height: 20px;

}

.contact-number, .contact-email {
    margin: 10px 0;   
}

.contact-address i, .contact-number i, .contact-email i {
    margin-right: 10px;
}

.social-widget a {
    display: inline-block;
    font-size: 28px;
    color: #aba8a8;
    margin-right: 10px;
}

.social-widget a:hover {
    color: #fff;
    transition: all .5s ease; 
}

.copyright {
    background-color: #000;
    padding: 10px;
}

.copyright p{
    color: #fff;
    text-align: center;
}

.copyright p a{
    text-decoration: none;
    color: #d2d2d2;
}